[2017-07-30 15:13] RF-Buerky opened #1 "Entscheiden der Regeln für die Sprache im Code, in Commits und auf GitHub"
Für dieses Projekt ([BBFW-Project](https://github.com/RF-Buerky/BBFW-Project/blob/master/README.md "Link zur README des Projektes")) sollen festgelegte Regeln für die Sprache gelten, die dann von allen Mitwirkenden einzuhalten sind. Dies soll chaotisches Durcheinander vermeiden.

Die Regeln für die Sprache werden von dem obersten Zirkel des Projektteams bestimmt.

Für verschiedene Umgebungen könne

[2017-07-30 15:19] RF-Buerky commented on #1
Mein Vorschlag für die Sprachregeln:

**Zu 2: Sprache Deutsch**
Würde die Commits gerne in Deutsch machen. Dies fällt mir leichter als englisch. Auf GitHub schlage ich auch Deutsch vor und da Merge-Commits auf GitHub vorgenommen werden, finde ich es passend die Commits auch in Deutsch zu machen.

**Zu 3: Sprache Deutsch**
Alles auf GitHub würde ich gerne auch aus Gründen der Einfachheit in Deutsch

[2017-07-30 16:31] FelixWerle commented on #1
**Zu 2: Sprache Deutsch oder Englisch**
Würde mich anschließen die Commits in Deutsch zu machen, hätte aber auch kein großes Problem damit die Beschreibungen in Englisch durchzuführen, da diese oft noch recht einfach gestaltet sind.

**Zu 3: Sprache Deutsch**
Aufgrund der höheren Komplexität wurde ich das auch gerne deutsch halten, da es für mich so verständlicher, einfacherer und schneller geht.

[2017-07-30 16:50] jwustmann commented on #1
Ich schließe mich dem Vorschlag von RF-Buerky an, 2 und 3 auf deutsch, der Einfachheit und Verständlichkeit halber.
Dies sollte der Mehrheitsentscheid sein

[2017-07-30 17:58] RF-Buerky commented on #1
Der vierte im Bunde, [dbaumy](https://github.com/dbaumy "Link zu Profil von dbaumy"), hat sich über ein anderes Kommunikationsmedium auch für Deutsch ausgesprochen. Er kann gerade nicht auf GitHub, daher seine Rückmeldung auf Umwegen.

[2017-07-30 18:03] RF-Buerky commented on #1
Es wurde sich entschieden zu:

1. **Code** mit all seinen Bestandteilen (Klassen, Variablennamen, Testnamen, Kommentare) **auf Englisch**.
1. **Commits** beziehungsweise deren Beschreibung (sowohl beim lokalen Committen als auch Merge-Commits auf GitHub) **auf Deutsch**
1. **GitHub**: mit den verschiedenen Bestandteilen wie Kommentare, Beschreibungen von Issues und PullRequests sowie Milestones **

[2017-07-30 18:11] nipafx commented on #1
Vorbildlich gelöst. :smiley: Es spricht aber nichts dagegen die Besprechung einer Lösung **und** die Umsetzung im gleichen Issue zu machen (ist sogar üblich). Wenn ihr möchtet, könnt ihr dieses Issue also wieder öffnen und zur Dokumentation der Entscheidung weiterverwenden.

[2017-07-30 18:24] RF-Buerky commented on #1
Ok dann wird das gemacht.

Also dann nun die Erweiterung der Issue: Entscheidung in der README festhalten.

Diese Erweiterung der Issue wird als Nachtrag in der Issue-Beschreibung am Anfang angefügt.

[2017-07-30 19:05] RF-Buerky opened #3 "README verbessern (Projektbeschreibung, Bearbeiter, ...)"
Die [README](https://github.com/RF-Buerky/BBFW-Project/blob/master/README.md "Link zur README des Projektes") ist noch taufrisch. Ein paar Must-Have-Informationen gehören auf jeden Fall noch in die Datei.

Die Must-Have
* Eine Projektbeschreibung
* Unser Team
* Die Ziele (Anforderungen von [Nicolai](https://github.com/nicolaiparlog "Link zu Profil von Nicolai"))

##### ... offen für weiteren Inhal

[2017-07-30 20:30] RF-Buerky commented on #1
Festhalten der Entscheidung erfolgreicht gelößt durch PullRequest #2

[2017-07-30 20:31] RF-Buerky commented on #1
Festhalten der Entscheidung erfolgreicht gelößt durch PullRequest #2

[2017-07-30 20:31] #1 closed, assigned to RF-Buerky

[2017-07-31 07:37] nipafx opened #5 "Issues für Milestone 1 erstellen"
Bitte erstellt erst alle Issues für Milestone 1 bevor ihr weitere Aufgaben angeht.

[2017-07-31 07:40] nipafx commented on #5
By the way, ich hab den Meilensteinen gerade Due Dates verpasst. Die sind relativ willkürlich gewählt, aber dadurch werden sie sinnvoll sortiert.

[2017-07-31 10:18] RF-Buerky opened #6 "Softwarelizenz in einer neuen Textdatei formulieren und in der README dokumentieren"
Unser Projekt braucht noch eine Lizenz. Darin sollen Nutzungsrechte, Schutz und Übertragbarkeit geregelt werden. Hierfür ist eine neue Textdatei anzulegen mit der Lizenz als Inhalt.

Da wir bisher keine Erfahrungen mit Softwarelizenzen haben, ist auch Bestandteil dieser Issue, wichtige Informationen einzuholen und anhand diesen eine Lizenz zu erstellen.

In der [README](https://github.com/RF-Buerk

[2017-07-31 10:24] RF-Buerky opened #7 "Code of Conduct in einer neuen Textdatei formulieren und in der README dokumentieren"
Unser Projekt braucht noch ein Code of Conduct (Verhaltenskodex). Hierfür ist eine neue Textdatei anzulegen mit dem Code of Conduct als Inhalt.

Da wir bisher keine Erfahrungen mit einem Code of Conduct im Software-Bereich haben, ist auch Bestandteil dieser Issue, wichtige Informationen einzuholen und anhand diesen ein Code of Conduct zu erstellen.

In der [README](https://github.com/RF-Buerky/BBF

[2017-07-31 10:32] nipafx commented on #6
Ihr habt schon mal [sowas ähnliches](https://github.com/nicolaiparlog/energy-model/issues/2) gemacht. Jetzt könnt ihr vielleicht einen Schritt weiter gehen und euch näher damit beschäftigen:

* [Open source for absolute beginners](http://oss-watch.ac.uk/resources/beginners)
* [Open-Source Licensing For Dummies](http://www.binpress.com/blog/2013/06/21/open-source-licensing-for-dummies/).
* [An Intr

[2017-07-31 10:33] RF-Buerky commented on #3
Issue gelößt durch PullRequest #4

[2017-07-31 10:33] #3 closed, assigned to RF-Buerky

[2017-07-31 11:06] nipafx commented on #3
:bulb: Wenn du in der Beschreibung des Pull Requests "Closes #3" schreibst, schließt GitHub automatisch #3, wenn der PR gemergt wird.

[2017-07-31 11:27] FelixWerle opened #8 "Erstellen einer .gitignore Datei"
Um ungewünschte Dateien den Zugang zu einem Projekt zu verwehren, kann eine `.gitignore` Datei erstellt werden. In unserem Fall soll verhindert werden, dass Dateien oder Ordner von IntelliJ IDEA und Maven hinzugefügt werden.

Hierfür wird im Git Repository mithilfe von `touch .gitignore` eine `.gitignore` Datei erstellt, in welcher festgelegt werden kann welche Dateien zu ignorieren sind.

[2017-07-31 11:42] FelixWerle opened #9 "Erstellen einer Maven/Kotlin Projektes "Hello World" + JAR-Datei"
Es soll ein Maven/Kotlin Projekt erstellt werden, welches die Klasse `HelloWorld.kt` enthält und mithilfe der Methode `print` die Zeile `Hello, World.` ausgiebt. Das Projekt soll dann in eine JAR-Datei umgewandelt werden.

[2017-07-31 11:52] FelixWerle opened #10 "Integration mittels Travis"
Hierfür sollen wir uns nach der Konfiguration von Maven an Herr Parlog wenden.

[2017-07-31 11:56] FelixWerle opened #11 "Konfiguration von JUnit 4 durch erweitern von 'pom.xml' + schreiben eines kleines Tests 'HelloWorldTest'"
Teste sollen das erwartete Verhalten, sowie die Fehlerfälle des Codes prüfen. Ein Test kann schnell ausgeführt werden, um zu prüfen, ob das Programm noch wie erwartet funktioniert.

JUnit ist eine "library", die es einfacher macht, einen Test zu schreiben. Um einen Test zu ermöglichen, muss unsere vorher in Issue #9 verwendete `pom.xml`  erweitert werden.

Wir sollen mithilfe eines Testes unser er

[2017-07-31 12:01] FelixWerle opened #12 "Erweitern der README Datei - "How to launch the application""
Die [README](https://github.com/RF-Buerky/BBFW-Project/blob/master/README.md "Link zur README") des Projektes soll um eine Beschreibung erweitert werden, die auch Laien das Ausühren des Projektes ermöglicht.

[2017-07-31 12:02] FelixWerle opened #13 "Veröffentlichung der Version 1.0"
Wenn man auf dem master Branch eine funktionierende Version hat, sollte man diese als Release festhalten.
Um verschiedene Release Versionen in der Historie unseres Projektes zu markieren werden Tags verwendet (z.B. v1.0, v2.0 ...).

Neue Tags lassen sich mithilfe des Befehls `git tag <tagbezeichnung>` anlegen. In diesem Fall handelt es sich um einen einfachen (lightweight) Tag, welcher nur die jew

[2017-07-31 12:36] RF-Buerky commented on #6
Ich denke bei der Lizenz können wir uns kurz fassen. Unser Projekt ist unbedeutend für die Welt, wir machen nichts großartiges. Daher schlage ich als Lizenz jene vor, die vom [Massachusetts Institute of Technology - MIT](https://de.wikipedia.org/wiki/Massachusetts_Institute_of_Technology "Link zum Wikipedia-Artikel des MIT") stammt.

Bei dieser Lizenz kann jeder alles mit unserem Code machen, sola

[2017-07-31 12:55] RF-Buerky commented on #5
Die Issues zu Block 1 sind nun grundsätzlich erstellt. Teilweise muss die Beschreibung der Issues noch erfolgen (@FelixWerle).

[2017-07-31 12:59] nipafx commented on #5
Ja, sehr gut. Generell kann der Titel ruhig etwas knapper sein (mehr wie ein Punkt auf einer TODO-Liste, z.B. "JUnit 4 verwenden") und dafür der längere Text in die Beschreibung. Das müsst ihr aber jetzt nicht mehr ändern - reicht beim nächsten Mal.

Das sollte spätestens bei Arbeitsbeginn der Fall sein.

[2017-07-31 12:59] #5 closed, assigned to RF-Buerky, FelixWerle

[2017-08-01 12:10] #7 closed, assigned to RF-Buerky

[2017-08-01 12:16] #6 closed, assigned to RF-Buerky

[2017-08-01 14:17] #8 closed, assigned to FelixWerle

[2017-08-02 13:00] jwustmann opened #20 "Aufbau eines einfachen Verkehrsimulationsprogramms für einen Zeitschritt"
Die Simulation soll aus **mehreren Autos** und **einem Straßennetz** (das nicht in einzelne Straßen ausdifferenziert wird) mit einer gewissen Kapazität bestehen. Jedes Auto weiß, ob und wann es fahren will. In Version 1.0 wird **ein Zeitschritt** (= eine Stunde) betrachtet.

- Das Straßennetz summiert die Anzahl der Autos, die zu einer gegebenen Stunde fahren wollen auf und gleicht den Bedarf mit

[2017-08-02 13:12] jwustmann opened #21 "Szenario Simulation für ca 12 Autos"
Eine Funktion **_scenario_** ist zu erstellen, die einen Ablauf mit 12 Autos simuliert.

[2017-08-02 13:16] jwustmann opened #22 "Fahrtberichtsfunktion für Autos"
Am Simulationsende soll jedes Auto "wissen" und ausgeben, ob es ungehindert fahren konnte oder in einen Stau geraten ist.

[2017-08-02 13:22] jwustmann opened #23 "Main Funktion mit CSV-Integration schreiben"
Schreiben der Main Funktion, die  **_Univocity Parsers_** nutzt, um Autos und ihr Fahrbestreben einzulesen und das Ergebnis (ungestörte Fahrt oder Stau) in einer CSV-Datei auszugeben.
Die bestehende **_scenario_** Funktion soll davon unberührt bleiben.

[2017-08-02 13:24] jwustmann opened #24 "README um Anleitung erweitern"
Die [README Datei](https://github.com/RF-Buerky/BBFW-Project/blob/master/README.md) soll um eine Nutzerdokumentation erweitert werden, die es dem Nutzer in erklärender Weise ermöglicht, das Programm zu gebrauchen.

[2017-08-02 13:41] jwustmann opened #25 "Version 2.0 veröffentlichen"
Version 2.0 wird mit allen erweiterten Features veröffentlicht

[2017-08-02 14:36] #12 closed, assigned to RF-Buerky

[2017-08-02 14:41] #9 closed, assigned to jwustmann

[2017-08-02 19:56] RF-Buerky opened #27 "Datei mit Struktur des Projektes erstellen und in README dokumentieren"
Sich in ein Programm hineinzudenken kann schwierig sein. Daher schlage ich vor, eine Datei zu erstellen die einen Überblick über die Struktur unseres Projektes beinhaltet. Dies soll Mitwirkenden das Hineindenken erleichern.

Anbieten würde sich zum Beispiel, die values, entities und methods nach dem OOP-Vorbild aufzuführen und ganz kurz zu formulieren was dort jeweils geschieht.

Im späteren Verla

[2017-08-03 05:53] nipafx opened #31 ".gitignore richtig benennen"
Ich hab bei #8 / #17 nicht richtig aufgepasst. Damit Git die Datei erkennt und verarbeitet, muss sie `.gitignore` heißen (man beachte die fehlende Dateiendung). Weil die aktuell `.gitignore.txt` heißt, erfüllt sie ihren Zweck nicht.

[2017-08-03 08:50] jwustmann commented on #31
@RF-Buerky
Ich denke es wäre sinnvoll, wenn wir uns für die Bearbeitung eines Issues für diesen auch assignen; wir haben wohl beiden diesen Issue bearbeitet. Das ist in diesem Fall ein Aufwand von 2 Minuten gewesen, aber im weiteren Projektverlauf wäre es doch sehr ärgerlich.

Zur Kenntnisnahme: @dbaumy  @FelixWerle

[2017-08-03 09:38] RF-Buerky commented on #31
Ok ja hast recht, werde nun auf die Assigns achten.

Dachte dass die Sache so schnell geht, dass es keine Kollision gibt und dann der Verweis auf den PullRequest reicht.

(Über der Meldung zu deinem Assign in dieser Issue)

[2017-08-03 12:22] nipafx commented on #31
Ja, assignen ist auf jeden Fall wichtig. Schön, dass ihr das durch eigene Erfahrung bestätigen könnt. :smile_cat:

[2017-08-03 12:23] #31 closed, assigned to jwustmann

[2017-08-03 18:40] RF-Buerky commented on #11
Gelößt durch Issue #35

@dbaumy Du hattest "Close #11" geschrieben statt "Closes #11". Daher dieser manuelle Close.

[2017-08-03 18:40] #11 closed, assigned to dbaumy

[2017-08-03 18:41] RF-Buerky commented on #10
Für den Release ist diese Issue hier nicht Einfluss nehmen, richtig? Heißt man kann den Release nun machen?

@nicolaiparlog

[2017-08-03 18:43] RF-Buerky commented on #13
Vor dem Release ist noch der Hinweis "SNAPSHOT" aus der Zieldatei bei der pom.xml zu entfernen.

... und nach dem Release wieder einfügen.

[2017-08-03 19:35] RF-Buerky opened #37 "Beschreibung zum Ausführen des Programmes in README berichtigen"
Die Beschreibung, wei das Porgramm mit der .jar-Datei des Releases auszuführen ist, stimmt nicht. Die Beschreibung ist zu korrigieren.

[2017-08-03 20:05] nipafx commented on #13
@RF-Buerky hat schon jede Menge Informationen zusammengetragen - hier nochmal der genaue Ablauf:

* `master` auschecken
* mit `mvn clean install` und `java-jar target/...jar` sicherstellen, dass alles funktioniert
* in der `pom.xml` bei der Version `-SNAPSHOT` entfernen
* nochmal `mvn clean install` und die JAR aus dem `target`-Ordner (beachte, dass `-SNAPSHOT` fehlt) irgendwohin kopieren
* neuen

[2017-08-03 20:11] RF-Buerky commented on #13
Release wurde beim ersten Versuch von GitHub automatisch gemacht, obwohl der Tag nichtmal auf master war.

[2017-08-03 20:12] nipafx commented on #13
Ja, weil man meistens nur `master` zumindest aber nicht auf feature Branches tagt. :wink: Kannst du [hier](https://github.com/RF-Buerky/BBFW-Project/releases/tag/1.0) aber wieder löschen (oben rechts).

[2017-08-03 20:22] nipafx commented on #10
Ok... Da dieses Projekt nicht zu einer Organisation gehört, sondern einem User, kann nur der User Travis aktivieren. 😭 Ich kann das wohl nachher konfigurieren (hoffentlich), aber anschmeißen muss es @RF-Buerky.

Dazu bitte Schritte 2 und 3 [aus dieser Anleitung](https://docs.travis-ci.com/user/for-beginners) (natürlich für dieses Projekt hier) durchführen und dann wieder hier Bescheid sagen. Ich b

[2017-08-03 20:27] RF-Buerky commented on #10
Hab versucht 2 und 3 zu machen. Könnte funktioniert haben.

[2017-08-03 20:33] nipafx commented on #10
Super, läuft! Kann geschlossen werden, wenn #39 gemergt ist.

[2017-08-03 20:35] RF-Buerky commented on #10
Gelößt durch gemergten PullRequest #39

[2017-08-03 20:35] #10 closed, assigned to nipafx

[2017-08-03 21:01] #37 closed, assigned to RF-Buerky

[2017-08-03 21:08] RF-Buerky commented on #13
Sehe nichts wo man einem Release noch eine Datei anhängen kann. Versuche den Release jetzt einfach mal so, dass die .jar dazu und wieder weg commited wird - wie man das beim `SNAPSHOT`-Anhängsel auch macht.

[2017-08-03 21:09] jwustmann commented on #13
habe bisher auch nichts dazu gefunden, was funktioniert hätte. Klingt erstmal vielversprechend für mich

[2017-08-03 21:13] nipafx commented on #13
Nein, bitte keine JAR comitten! Ergibt auch keinen Sinn, denn Releases macht man ja für Leute, die nichts mit der Code-Basis am Hut haben.

Wenn das Release da ist, zeige ich euch, wo man die JAR anhängt.

[2017-08-03 21:26] RF-Buerky commented on #13
Was soll denn alles im Release drin sein bzw. was nicht? Die pom.xml zum Beispiel auch nicht?

Der Release ist [da](https://github.com/RF-Buerky/BBFW-Project/releases) mit einer .jar. Die wurde leider noch vor dem Kommentar commited.  🎉  💯

[2017-08-03 21:41] nipafx commented on #13
Gratulation! 👍

Wenn du jetzt zu dem Release gehst, da oben rechts auf Edit klickst siehst du das hier:

![attach-binaries](https://user-images.githubusercontent.com/6537432/28945052-36db7a44-78a5-11e7-843c-892c9de473b8.png)

Rate, wo man die JAR anhängen kann. 🤡

[2017-08-03 21:45] RF-Buerky commented on #13
Shame 🔔
🤦‍♂️

Also alten Release löschen und neu

Ansonsten war der Inhalt des Release korrekt? Die pom.xml undso bleiben drin?

[2017-08-03 21:51] RF-Buerky commented on #13
hmm der hat ja die .jar auch garnicht wieder gelöscht hier im Repository...

[2017-08-03 21:52] nipafx commented on #13
Naja, "drin"... aktuell müssten User die von GitHub erstellte ZIP des Repositories runterladen und dann die JAR daraus fummeln. Außerdem müssten sie wissen, dass das so ist.

Häng sie trotzdem mal an.

[2017-08-03 21:57] RF-Buerky commented on #13
Die .jar hängt dran

[2017-08-03 22:01] nipafx commented on #13
:+1: Meilenstein 1 erledigt. 🎉

[2017-08-03 22:01] #13 closed, assigned to RF-Buerky, FelixWerle

[2017-08-03 22:05] RF-Buerky commented on #13
Aber die jar war ja nun noch in dem zip-Ordner drin wo sie eig. nicht rein soll.

von mir aus könnte man die letzten zwei commits auf master resetten und den Release nochmal ordentlich machen.

[2017-08-03 22:18] jwustmann commented on #13
Oder wir lernen daraus und sind jetzt reich an Erfahrung ("Machen Sie mal, Sie sind nun schließlich Experten...")

[2017-08-03 22:18] nipafx commented on #13
Sachen auf Master zu resetten ist fies. Das sollte man nur in Notfällen (und dies ist keiner) machen - mit allem anderen muss man leben.

[2017-08-04 12:45] #21 closed, assigned to jwustmann

[2017-08-04 13:09] RF-Buerky opened #42 "Input der DriveInterest über CSV-Datei und Parse"
Der Wunsch der Fahrzeuge, zu fahren wir über eine CSV-Datei importiert. Der Inhalt der CSV-Datei ist dazu zu parsen.

[2017-08-04 13:20] dbaumy opened #43 "Wiederherstellung des Ordnerpfades für die zukünftigen Tests"
Die entsprechenden Ordner werden wieder hergestellt.

[2017-08-04 13:21] nipafx commented on #43
Ne, die braucht keiner mehr, siehe [hier](https://github.com/RF-Buerky/BBFW-Project/pull/40#issuecomment-320247197).

[2017-08-04 13:43] #43 closed, assigned to dbaumy

[2017-08-04 14:04] dbaumy opened #45 "Rechtschreibfehler in Readme.md"
...wurden korregiert

[2017-08-04 14:07] #45 closed, assigned to dbaumy

[2017-08-04 15:12] dbaumy opened #47 "Test-Ordnerstruktur mit Testdatei als Platzhalter erstellen"
Damit die Ordnerstruktur für Tests wieder vorhanden ist und GIT nur diese übernimmt ist es nötigt das eine Testdatei vorhanden ist (erstellt wird), da GIT nur Dateien berücksichtigt und nicht (leere) Ordner allein.

[2017-08-04 15:26] #47 closed, assigned to dbaumy

[2017-08-04 15:29] nipafx commented on #20
Damit das nicht verloren geht: Die Tests für `RoadNetwork` fehlen noch.

[2017-08-04 15:55] nipafx opened #49 "Hauptklasse in POM korrigieren"
Aktuell ist die erstellte JAR nicht ausführbar, weil die Hauptklasse nicht gefunden wird. Das muss zügig gefixt werden.

[2017-08-04 16:21] jwustmann commented on #20
Hier geht nichts verloren; )

_Sent from my Samsung SM-G900F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-04 18:18] #20 closed, assigned to RF-Buerky, jwustmann

[2017-08-04 20:22] #42 closed, assigned to RF-Buerky

[2017-08-04 20:28] #49 closed, assigned to RF-Buerky

[2017-08-04 21:15] RF-Buerky opened #52 "Double-Wert in RoadNetworkTest zu Int-Werten machen"
Wir sind wegen den Rundungsfehlern auf Int-Werte umgestiegen. In der Testklasse [RoadNetworkTest](https://github.com/RF-Buerky/BBFW-Project/blob/code/src/test/kotlin/RoadNetworkTest.kt) sind noch Double-Werte vorhanden. Diese müssen noch zu Int-Werten geändert werden.

[2017-08-04 22:17] RF-Buerky opened #54 "End-Liste zum Parsen in Output-CSV vorbereiten"
Eine Liste mit den Ergebnissen der Verkehrssimulation soll vorbereitet werden damit diese Liste dann zum Parsen in eine CSV-Datei bereitsteht.

[2017-08-04 22:26] #52 closed, assigned to RF-Buerky

[2017-08-04 23:27] RF-Buerky opened #56 "Tests Schreiben für die Klassen und Funktionen"
Es könnten noch ein paar Tests geschreiben werden für alle Funktionen und Klassen.

[2017-08-05 09:58] #54 closed, assigned to RF-Buerky

[2017-08-05 10:01] jwustmann opened #57 "Write Output CSV"
Nach funktionierendem Einlesen einer CSV Datei soll nun das Ergebnis in eine andere CSV Datei geschrieben werden können

[2017-08-05 10:03] jwustmann commented on #22
@RF-Buerky @FelixWerle @dbaumy

Hier müsste es mal weiter gehen, damit ich beim Parsen des Outputs auch den Fahrbericht mitausgeben kann. Falls sich keiner bis 13 Uhr assigned mache ich das grade mit

[2017-08-05 10:39] RF-Buerky commented on #22
Ist vielleicht schon durch #55 ausreichend gelößt.

In Klasse Vehicle.kt

Da wurd dann unbewusst diese Issue auch gemacht.

Und Ausgabe des Outputs für in die CSV-Datei steht in der Main bereit

[2017-08-05 10:59] RF-Buerky commented on #23
Wurde Teilweise durch #55 gelößt, zweite Hälfte kommt wird nun mit Issue #57 bearbeitet.

[2017-08-05 11:09] jwustmann commented on #22
Dann ist dieser issue mit #55 bearbeitet

[2017-08-05 11:09] #22 closed, assigned to nobody

[2017-08-05 11:56] jwustmann commented on #23
Arbeite mit PR #58 daran; wenn der mal so weit ist

[2017-08-05 14:12] nipafx commented on #52
In diesem Issue versteckt sich eine wichtige Lektion: Nicht zu weit vorausplanen! Klingt komisch, ist aber so.

Es ist schwer sinnvoll abzuschätzen, wie sich Anforderungen und Code in Zukunft entwickeln. Es gibt einige Praktiken, die den Code robuster machen, aber viel genauer zu planen hat oft den gegenteiligen Effekt und erzeugt weitere Arbeit statt welche zu sparen. In diesem Fall wurde `capaci

[2017-08-05 14:24] nipafx commented on #57
Ich hab mal den Titel umbenannt. Als "parsen" bezeichnet man eine Zeichenkette in irgendwas sinnvolleres umzuwandelnt.

Mir ist außerdem aufgefallen, dass ihr die Issues relativ spät erstellt habt. Bitte macht das das nächste Mal direkt nach dem Release der vorherigen Version.

[2017-08-05 14:25] nipafx commented on #47
:bulb: @dbaumy: Meilenstein nicht vergessen. :smiley:

[2017-08-05 14:25] nipafx commented on #42
:bulb: @RF-Buerky: Meilenstein nicht vergessen.

[2017-08-05 16:27] jwustmann commented on #57
Machen wir gerne, allerdings ist es beim bearbeiten der ursprünglichen und früh erstellten Issues zu Teillösungen gekommen, deren fehlende Teile eigene Issues als Gedächtnisstütze erhalten haben

[2017-08-05 16:40] RF-Buerky commented on #24
README mach ich gern ^^

[2017-08-05 16:47] RF-Buerky commented on #24
Wie soll die Ausführung denn möglich sein, wenn der Ausführende sich keine eigene .jar erstellen soll? Die .jar ist ja Abhängig von dem CSV-Input. @nicolaiparlog

Denke der Anwender müsste die CSV Datei bearbeiten und seine Vehicles mit den Fahrwünschen angeben. Danach dann selbst eine .jar erstellen und ausführen und schließlich dann in die entstehende results.csv rein gucken.

[2017-08-05 17:08] #23 closed, assigned to RF-Buerky, jwustmann

[2017-08-05 17:08] #57 closed, assigned to jwustmann

[2017-08-05 17:15] jwustmann commented on #27
Zum aktuellen Zeitpunkt würde ich sagen, dass die Anleitung der Readme für Außenstehende genügen muss. Da unsere Gruppe recht übersichtlich ist und ein hohes Aktivitätsniveau hat, ist eigentlich immer ersichtlich (auch anhand der Kommentare hier), wohin die Reise gehen soll. Bei größeren Gruppen oder komplexeren Projekten wäre es als Absichtserklärung oder "Pflichtansatz" wohl nicht verkehrt, hier

[2017-08-05 17:22] RF-Buerky commented on #27
Naja eine Beschreibugn ist in OLAT gefordert...

[2017-08-05 17:22] RF-Buerky commented on #27
Beim Release von 2.0 sollte eine richtige Bechreibung zur Nutzung da sein.

[2017-08-05 17:29] jwustmann commented on #27
Schreibst du nicht genau das in #24 ?

[2017-08-05 17:35] RF-Buerky commented on #27
Ja, das war zu Release 1.0. Die Anwendung wird ja erweitert und daher muss auch die Beschreibung erweitert werden.

[2017-08-05 17:37] RF-Buerky commented on #27
Oh ja sry. War in der Issue verrutscht.

Finde nun auch dass die Struktur nicht gebraucht wird.

Ich mach die Sache hier dann grad zu und auch meinen PullRequest dazu #28 . @nicolaiparlog sagte ja auch dass das nur gemacht werden soll wenn alle zustimmen. Also wech damit.

[2017-08-05 17:44] #27 closed, assigned to RF-Buerky

[2017-08-05 17:53] RF-Buerky opened #59 "Fahrtberichtsfunktion für Autos"
Issue für @nicolaiparlog 's Vorhaben - ist wohl unter gegangen.

Es hieß in PullRequest #55

[2017-08-05 18:19] #56 closed, assigned to dbaumy

[2017-08-05 18:21] RF-Buerky opened #61 "Tests schreiben für VehicleTest und MainTest - ggf. dann Anpassungen im Code vornehmen"
Für die Klasse Vehicle und Main müssen noch Tests geschrieben werden in VehicleTest und MainTest. Gut möglich dass man beim Schreiben der Tests auch noch sonstigen Code anpassen muss.

Ersatzweise für Issue #56 da sie durch den Merge nicht vollständig erfüllt wurde.

[2017-08-05 20:40] dbaumy commented on #59
Damit die Fahrzeug die Information beommen ob sie gefahren sind, kann ein weiterer Parameter, etwa namens `hasDriven` vom Typ `Boolean` hinzugefügt werden , der zu Beginn `false` gesetzt wird. Die Funktion `Scenario` kann dann den Wert auf `true` setzten wenn das Fahrzeug bewegt wurde.

[2017-08-06 10:02] RF-Buerky opened #64 "Fragen klären zu Aufgabenstellung von Block 3"
In der Aufgabenstellung von Block 3 heißt es:

Und noch:

Der Input für Block 3 ist also auch über eine CSV-Datei zu erhalten. Dann wäre doch für jedes einzelne Vehicle eine CSV-Datei zu erstellen, die die 24 Stunden auflistet, und ich welcher von diesen `wannaDrive = true` ist? Habe keine Idee wie all diese Informationen für mehrere Vehicles in eine CSV-Datei können.

Eine Beispiel-Datei könnte d

[2017-08-06 10:28] FelixWerle opened #65 "Zufallsentscheidung für jedes Auto"
Die Entscheidung ob ein Fahrzeug fahren kann oder sich verspätet, soll zufällig erfolgen. Die Wahrscheinlichkeit, dass ein Fahrzeug sich verspätet, hängt davon ab,  wie viele Autos sich auf der Straße befinden, verglichen mit der gesamten Kapazität des Straßennetzes.

- weniger als **50%** der Kapazität genutzt: **5 %** Wahrscheinlichkeit der Verspätung
- weniger als **70%** der Kapazität genutzt:

[2017-08-06 10:41] FelixWerle opened #66 "Simulation eines Tages"
Der gesamte Tag soll dargestellt werden, indem 24 Stufen nacheinander simuliert werden:

- Jedes Fahrzeug muss jede der 24 Stunden wissen, ob es fahren möchte oder nicht
- Wenn ein Fahrzeug verzögert wird kann es seine Funktion des ,,Fahrens" nicht erfüllen. Dies bedeutet es
  muss in der nächsten Stufe fahren  (Beispiel: ein Fahrzeug möchte in den Stufen `8` und `9` fahren wird aber in Stufe `9 `

[2017-08-06 10:50] FelixWerle opened #67 "Erweiterung der CSV"
Der CSV` input/output` soll erweitert werden, um die neuen Bedingungen und Ergebnisse aufeinander abzustimmen.

- Erweiterung des `input`  um jeder Stunde hinzuzufügen, ob das Vehikel fahren möchte
- Erweiterung des `output` um jeder Stunde hinzuzufügen, ob ein Vehikel gefahren ist oder verzögert wurde

[2017-08-06 10:54] FelixWerle opened #68 "Erweiterung der README"
Die Readme soll um eine Beschreibung des veränderten Programmablaufes erweitert werden.

[2017-08-06 10:59] FelixWerle opened #69 "Version 3.0 veröffentlichen"
Nachdem alle vorherigen ,,Issues" des 3. Meilensteines erfolgreich abgearbeitet wurden, soll eine Version des bestehenden Programmes veröffentlicht werden. Damit kann zu jeder Zeit des Projektes auf diesen Zeitpunkt des Ablaufes zurückgegriffen werden.

[2017-08-06 11:16] jwustmann commented on #64
Für jedes Auto eine Datei? Das halte ich für sehr unübersichtlich.

Mein Vorschlag wäre eine Datei wie bisher. Wir können zusätzliche Spalten einfügen aus denen dann die Autos erstellt werden. Die Klasse `Vehicle` sähe dann so aus:
`class Vehicle(val id : Int,
val wannaDriveHour1 : Boolean,
val wannaDriveHour2 : Boolean,
val wannaDriveHour3 : Boolean,
val wannaDriveHour4 : Boolean,
...
val wannaDr

[2017-08-06 11:42] #59 closed, assigned to dbaumy

[2017-08-06 11:54] RF-Buerky commented on #64
Ja, Liste mit Fahrplan im Fahrzeug ist gut.

Wenn man in der CSV nur die Stunden angeben würde wo es fährt wäre es angenehm kürzer. Denke auch dass da aber der Parser Probleme bekommt weil die Spaltenanzahl dann verschieden ist.

[2017-08-06 11:56] #61 closed, assigned to RF-Buerky

[2017-08-06 12:41] jwustmann commented on #25
Es macht für die Funktionalität zwar keinen Unterschied, aber ich bin dafür in im Parser und allen damit verknüpften Dingen ` val customerRows: MutableList<Array<Any>> = mutableListOf()` abzuändern, da wir keine Kunden haben sondern Fahrzeuge in den Reihen; außer das ganze sollte ursprünglich ` customRows` heißen, weil diese "customized" sind...

Ich mache mal einen PR auf, nur zur optischen Schön

[2017-08-06 12:46] jwustmann commented on #24
Gibt es hier neue Ideen? Mir kam bisher nichts in den Sinn, außer zu versuchen, den Parser eine CSV Datei von einem höheren Ordnerpfad einlesen zu lassen (gibt es die Möglichkeit, dem Programm zu sagen, dass es den Pfad verwenden soll, den die JAR zukünftig einmal haben wird? )

[2017-08-06 12:53] RF-Buerky commented on #25
Ja ändern. Veilleicht zu `vehiclesRows`.

[2017-08-06 13:13] jwustmann commented on #25
Bearbeitet in #70

[2017-08-06 13:28] RF-Buerky commented on #24
Nichts neues...

Vielleicht muss man @nicolaiparlog mal ne Mail schrieben - kann sein dass diese Frage hier untergeht zwischen all den vielen Mitteilungen die er von GitHub bekommen.

Schreibt jemand? Muss grad ma weg.

[2017-08-06 14:20] dbaumy commented on #24
Ich schreibe die Mail ;)

Update:
Die Mail ist raus, ich hatte Nicolai gefragt ob wir das Problem so lösen können, indem wir den Input einfach (simple) vorgeben. (Ihr seid CC-gesetzt)

[2017-08-06 15:10] dbaumy commented on #25
Das Grundgerüst für den Text ist in Bearbeitung.
Update: hab ich dir per Mail geschickt @RF-Buerky

[2017-08-06 21:25] nipafx commented on #57
Nicht, dass ihr mich falsch versteht: Issues teilweise zu lösen und für den Rest neue anzulegen ist vollkommen in Ordnung. Nur sollte am Anfang eines Meilensteins alles abgedeckt sein, damit ihr euren Fortschritt einschätzen könnt.

[2017-08-06 21:31] nipafx commented on #24
Ich war out of Internet...

Ja, man könnte einen Parameter einführen, der angibt, von wo die CSV gelesen wird, aber das habe ich nicht vorgesehen, weil es sonst zu viel wird. In der Tat ist diese Aufgabe so etwas komisch. Könnt ihr weglassen (also das Issue schließen).

[2017-08-06 21:56] nipafx opened #71 "Spaltenköpfe in CSV"
Die CSV-Datei braucht noch Spaltenüberschriften. Im Energy Model könnt ihr sehen wie das geht.

[2017-08-06 21:57] nipafx opened #72 "Unnötige Vehicle Methoden entfernen"
Die Methoden `newVehicle` und `isNewVehicle` sind sehr seltsam und machen den Code unnötig komplex. Sie sollten entfernt und statt ihnen der Konstruktor zum Erstellen eines Fahrzeuges verwendet werden.

Aktuell erstellt das Programm viel mehr als die benötigten Fahrzeuge. Fahrzeuge sollten nur bei der Vorbereitung der Simulation erstellt werden. Während der Simulation kann man die Instanzen dann i

[2017-08-06 21:59] nipafx opened #73 "Code verbessern"
Ich gucke mir gerade den Code an und schreibe hier meine Gedanken dazu auf. Ich denke ihr solltet diese Details ändern, aber ich schreibe es euch nicht vor. Guckt euch das einfach an und schaut ob euch die Alternative gefällt.

Zu `Main`:

* es könnte zwei Methoden geben, die beide keine Parameter hätten:
    * `simulateCsvInput`: lädt aus CSV, simuliert, schreibt in CSV
    * `simulateFixedScenar

[2017-08-06 22:14] jwustmann commented on #73
Die unnötigen/redundanten Dinge können gerne entfernt werden.

Aufgabenstellung:

Da im OLAT das wort scenario unterlegt ist, quasi als Code formatiert, haben wir angenommen, dass dieser Name zwingend verwendet werden soll, damit klar ist, welche unserer Funktionen die Funktion aus der Aufgabenstellung abbildet. Der "Verstoß" an sich ist uns dank unserer intensiven und hochwertigen Ausbildung dies

[2017-08-06 22:21] nipafx commented on #73
Ouch. Richtig, das ist auf meinem Mist gewachsen. Allerdings meinte ich damit eine Funktion in `Main`, die ein Scenario zusammenstellt und damit die Simulation aufruft. Macht es ein bisshen aber nicht wesentlich besser...

[2017-08-07 09:03] RF-Buerky opened #76 "Tests für überarbeiteten Code schreiben - ggf tauchen Fehler/Probleme auf -> Code anpassen"
Voraussichtlich wird PullRequest #75 gemerget. Der Code wurde dort umstrukturiert - die alten Tests passten nicht mehr und sind stand jetzt noch überwiegend auskommentiert. Für den umstrukturierten Code sind die Tests neu zu schreiben/anzupassen wobei eventuell noch Anpassungen des Codes erfolgen müssen.

[2017-08-07 11:34] RF-Buerky commented on #24
Gelößt durch PullRequest #74

[2017-08-07 11:34] #24 closed, assigned to dbaumy

[2017-08-07 13:27] #71 closed, assigned to jwustmann

[2017-08-07 13:29] #72 closed, assigned to jwustmann

[2017-08-07 13:29] #73 closed, assigned to jwustmann

[2017-08-07 17:51] #76 closed, assigned to RF-Buerky

[2017-08-07 18:06] RF-Buerky commented on #25
Release 2.0 ist draußen 🎉
Zu finden [hier](https://github.com/RF-Buerky/BBFW-Project/releases)

![grafik](https://user-images.githubusercontent.com/28202401/29039513-d781ba4a-7bab-11e7-84ac-d139690f5180.png)

[2017-08-07 18:06] #25 closed, assigned to RF-Buerky

[2017-08-07 18:23] nipafx commented on #64
Ich bin mir gar nicht sicher, ob die Spaltenzahl immer gleich sein muss, es wäre aber nicht unwahrscheinlich. Aber man muss zum Separieren der Stunden ja kein Komma nehmen. Was spricht dagegen:

    Car, Hours
    1, 6/7/8

Wenn euch das Komme ganz toll gefällt, kann man das auch verwenden, und mit `"` (meine ich) dafür sorgen, dass es gemeinsam geparst wird:

    Car, Hours
    1, "6, 7, 8"

Ich

[2017-08-07 18:31] nipafx commented on #25
🎉

[2017-08-07 19:03] RF-Buerky commented on #25
Yay, die 4.0 haben wir uns verdient... 😅

[2017-08-07 19:14] dbaumy commented on #25
🤸‍♂️

[2017-08-07 21:27] jwustmann commented on #64
An dem Punkt möchte ich noch kurz  anmerken, dass auch @FelixWerle zum Team gehört und durch erstellen der issues und offline Leistungen einen enorm wichtigen Beitrag zu dem Erfolg der Gruppe leistet.

_Sent from my Samsung SM-G900F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-08 07:37] nipafx commented on #64
I see what you're doing there...

[2017-08-08 09:41] #67 closed, assigned to RF-Buerky

[2017-08-08 09:44] RF-Buerky commented on #64
Diese Sache wäre dann durch den Merge von PullRequest #78  auch abgeschlossen.

[2017-08-08 09:44] RF-Buerky commented on #64
Diese Sache wäre dann durch den Merge von PullRequest #78  auch abgeschlossen.

[2017-08-08 11:25] jwustmann commented on #64
@nicolaiparlog
Frage zur Aufgabenstellung:

Wie sieht es aus, wenn ein Auto in 8 und 9 fahren will und in 8 verspätet wird? Wird dann auch in 10 gefahren?

[2017-08-08 12:04] RF-Buerky commented on #64
Denke ja

[2017-08-08 12:06] jwustmann commented on #64
dann ist das ganze wirklich ekelhaft...

[2017-08-08 13:19] nipafx commented on #64
Wenn du zwei Stunden fahren musst, um anzukommen und eine Stunde im Stau stehst, wie viel Stunden hast du dann noch vor dir? :smiley:

Zum Thema ekelhaft: Versuch das Problem im Kleinen zu lösen. Das Auto weiß wann es fahren will und sollte jede Stunde danach gefragt werden. Zu jeder Stunde will es fahren, wenn...

* es eigentlich sowieso zu dieser Stunde fahren will
* wenn es in der Vergangenheit

[2017-08-08 17:39] RF-Buerky commented on #66
Teilweise gelößt durch PullRequest #79 . Die Tests werden in einer neuen Issue behandelt.

[2017-08-08 17:39] #66 closed, assigned to jwustmann

[2017-08-08 18:05] RF-Buerky opened #82 "Tests für RoadNetwork schreiben."
Issue #66 wurde durch PullRequest #79 teilweise gelößt. Der noch übrige Bestandteil, die Tests für die Klasse RoadNetwork wird in dieser Issue bearbeitet.

[2017-08-08 19:50] RF-Buerky commented on #64
Ist es gemäß der aktuellen Aufgabenstellung nicht so, dass ein einmal entstandener Stau sich niemals wieder auflößt?

Die Kapazität sei 5. Im Zeitschritt 9 fahren 6 Autos, sie wollen eigentlich nur in Zeitschritt 9 fahren -> 6 werden verspätet -> 6 wollen in 10 weiter fahren -> 6 werden verspätet -> 6 wollen in 11 weiter fahren ....

bis in die Unendlichkeit und noch viel weiter.

Das kam mir gera

[2017-08-08 20:32] RF-Buerky commented on #64
Wenn das so sein soll ist glaube ich dort der Fehler:
Klasse `Vehicle` , Zeilen 24 bis 30

        // if the vehicle wanted to drive, it is still as delayed as before
        // (otherwise it just gained an hour, thus reducing delay)
        if (!wannaDriveInHours.contains(timestep)) {
            delay -= 1
        }
    }

Hier müsste aber wird nirgens die Liste wannaDriveInHours erweitert. So m

[2017-08-08 20:51] RF-Buerky commented on #64
Ja glaube habe einen Fehler gefunden. Der Impact auf die Liste `wannaDriveInHours` bei einem Stau war nirgens eingebunden. Wenn in Stunde 8 das Vehicle delayed wird, kommt die Stunde 9 in die wannaDrive-Liste hinzu.

Denke diese Sache kann man gut in die Funktion von Vehicle: `getDelayedAtHour(timestep : Int)` einbauen.

Aktuelle Version dieser Funktion:

        // if the vehicle wanted to drive,

[2017-08-08 20:52] RF-Buerky commented on #64
Nach dieser Anpassung tritt ein, dass sich einmal dagewesene Staus niemals auflösen. Genauso wollen es die Tests in PullRequest #83 .

[2017-08-08 21:17] RF-Buerky opened #84 "Fehlendes Teil im Output: DroveWithoutDelay einfügen"
Eine Sache wurde noch nicht in den Output aufgenommen. Die Vorgabe lautet:

Je nachdem wie man das versteht ist vielleicht außer der Ausgabe von delayed-Stunden auch eine Ausgabe von nicht-delayed-Stunden gefordert. Bisher gibt es nur die delayed-Stunden in der Ausgabe.

Ich denke man sollte dies noch einfügen.

[2017-08-08 22:48] RF-Buerky commented on #65
Wie siehts denn hier aus @dbaumy , die Ideen sprudeln?

[2017-08-09 08:38] nipafx commented on #64
Ja, in `delay`. Die Kommentare erklären auch ein bisschen, wie das funktioniert.

[2017-08-09 08:39] nipafx commented on #84
Ja, stimmt. Da fehlt eine weitere Spalte, die "drives" festhält.

[2017-08-09 10:02] RF-Buerky commented on #64
Ja das Attribut `delay` gibt es schon. Sehe aber nichts wo in Abhängigkeit von dem Zustand von `delay` ein `Vehicle` weitere `timesteps` in `wannaDriveInHours` erhält.

[2017-08-09 10:11] nipafx commented on #64
Erhält es nicht, das ist ja genau der Trick. Statt die Liste der Fahrwünsche zu verändern (Jans Lösung war kompliziert, deine hat zu doppelten Stunden in der Liste geführt), prüfen wir einfach ob noch Verspätung abzubauen ist:

[code]

So bauen wir `delay` auf, wenn es zu Verspätungen kommt und wollen so lange fahren bis er wieder auf Null ist.

[2017-08-09 10:22] RF-Buerky commented on #64
Hmm okay. Glaube habs kapiert.

und hier ist dann der Aufruf davon in RoadNetwork:
![grafik](https://user-images.githubusercontent.com/28202401/29117119-5730ae34-7cfd-11e7-92e6-ee3dd0dc0b7c.png)

[2017-08-09 10:26] nipafx commented on #64
Ja.

[2017-08-09 11:43] #84 closed, assigned to RF-Buerky

[2017-08-10 00:02] RF-Buerky commented on #64
Dann sei soweit alles geklärt.

[2017-08-10 00:02] #64 closed, assigned to nobody

[2017-08-10 08:47] #82 closed, assigned to RF-Buerky

[2017-08-10 08:49] #68 closed, assigned to RF-Buerky

[2017-08-10 18:36] RF-Buerky opened #89 "Andere Verkehrsteilnehmer in Programmcode aufnehmen"
Die Simulation soll erweitert werden, um verschiedene Verkehrsteilnehmer zu ermöglichen. Neben den bisherigen `Car` bzw. bei uns `Vehicle` genannt sind noch `Truck` , `Tram` und `Bike` aufzunehmen.

Dies ist über ein interface vorzunehmen, von dem `Car` und die anderen neuen Verkersteilnehmer einzelne Einheiten sind. Das Interface ist in die gesamte Simulation einzubinden.

In das interne Szenario

[2017-08-10 18:40] RF-Buerky opened #90 "Wahrscheinlichkeit von delay abhängig von Fahrzeugklasse machen"
Die Wahrscheinlichkeit, ob ein Fahrzeug delayed wird, soll von der Fahrzeugklasse abhängen.

Car: behält die aktuellen Wahrscheinlichkeiten
Truck: hat immer eine 5% höhere Chance delayed zu werden, bezogen auf Cars
Tram: hat immer eine halb so große Chance, wie die Cars delayed zu werden
Bikes: hat immer eine Chance von 5%, außer wenn die Netzkapazität über 150% ausgelastet ist, ab dann ist die Ch

[2017-08-10 18:45] RF-Buerky opened #91 "CapacityDemand abhängig machen von Fahrzeugklasse"
Nicht alle Fahrzeuge sollen gleichmäßig nur einen Kapazitätsbedarf von 1 haben. Trucks nehmen - wie real auch - pro Fahrzeug eine größere Kapazität der Straße ein.

Der Impact auf die Straßenkapazität soll je nach Fahrzeugklasse so aussehen:
    Cars brauchen Kapazität von 1
    Trucks brauchen 3
    Trams brauchen 5
    Bikes brauchen 0,1

[2017-08-10 18:50] RF-Buerky opened #92 "README aktualisieren um neu Hinzugefügtes"
Die Erklärung unseres Programmes für reine Nutzer aber auch Mitwirkende in der README soll gemäß den neuen Punkten des Blockes 4 erweitert werden.

Dazu gehört zumindest die Info, dass zwischen Fahrzeugklassen unterschieden wird und wie mann die Fahrzeugklasse in der CSV-Input-Datei angibt.

[2017-08-10 22:09] #65 closed, assigned to dbaumy

[2017-08-10 23:04] #69 closed, assigned to dbaumy

[2017-08-11 09:15] jwustmann opened #95 "Tests aktualisieren"
Wie bei den vorherigen Versionen wird das Tests schreiben wohl besser wieder in einen separaten Issue verlegt.

[2017-08-11 11:15] #89 closed, assigned to RF-Buerky

[2017-08-11 11:22] RF-Buerky opened #97 "Gucken wie es bei den anderen aussieht und freuen"
Ein Rundumblick wie es bei den anderen Gruppen aussieht ist interessant.

[2017-08-11 11:24] RF-Buerky commented on #97
Charge 1
![grafik](https://user-images.githubusercontent.com/28202401/29211261-576ad694-7e98-11e7-93c8-7b27af50f5c9.png)

Alle zwischen 0 und 1 Release

[2017-08-11 11:26] RF-Buerky commented on #97
Charge 2
![grafik](https://user-images.githubusercontent.com/28202401/29211327-ac07dd6e-7e98-11e7-93ef-7cc58ff00a16.png)

Wir sind die einzige Gruppe die bisher Release 3.0 gemacht hat.

Der Aufgabenblock 4.0 erscheint vergleichsweise klein, den packen wir gewisse bis Sonntag.

[2017-08-11 11:30] RF-Buerky commented on #97
@nicolaiparlog
Bekommen wir noch einen Bonus weil theoretisch zu jeder Zeit alle Gruppen von uns hätten abgucken können? 😅 😅 😅

[2017-08-12 12:01] nipafx commented on #97
Warum? Abgucken ist Herz und Seele jeder guten Programmierarbeit. Anderleuts Lösungen zu recherchieren und im eigenen Kontext anzuwenden ist eine sehr wichtige Fähigkeit. Für das Gegenteil gibt es sogar [ein Meme](https://en.wikipedia.org/wiki/Not_invented_here). Wenn überhaupt sollte ich allen was abziehen, die einfach alles selber gemacht haben... 😝

[2017-08-12 13:51] nipafx opened #100 "Vehicle-Interface etwas reduzieren"
Das Interface `Vehicle` (gute Arbeit übrigens), erlaubt es momentan z.B. dem `RoadNetwork` den Wert von `delay` zu sehen und sogar zu verändern sowie die Liste der gefahrenen und gestandenen Stunden zu verändern.

Deswegen sollte _das Interface_ besser die Listen als `List` statt `MutableList` deklarieren und nicht `delay` enthalten.

[2017-08-12 14:13] #90 closed, assigned to FelixWerle

[2017-08-12 16:12] RF-Buerky commented on #97
Interessant, nie von gehört 🎓

![too-busy1](https://user-images.githubusercontent.com/28202401/29242286-5aa5b0ca-7f8a-11e7-9531-0c37eeb69168.png)

![nih-syndrome](https://user-images.githubusercontent.com/28202401/29242246-aef20e68-7f89-11e7-85ad-80eaf8a24543.png)

[2017-08-12 18:41] nipafx commented on #97
😹

[2017-08-12 18:54] #100 closed, assigned to RF-Buerky

[2017-08-12 19:09] RF-Buerky commented on #97
Es geht dem Ende entgegen. Da wird die Issue mal beseitigt.

[2017-08-12 19:32] #91 closed, assigned to jwustmann

[2017-08-12 23:36] RF-Buerky opened #102 "Fehler in Funktion getDelayedAtHour ?"
Vielleicht haben wir einen Fehler in der Funktion `getDelayedAtHour`. Die Funktion ist in dem Interface Vehicle.

Die Funktion lautet aktuell:
[code]

Ein Fahrzeug kann demnach nur eine zusätzliche Verspätung bekommen, wenn der `timestep` in der Liste `wannaDriveInHours` drin ist.

Ich fände es logisch, wenn ein Fahrzeug auch dann eine zusätzliche Verspätung bekommen kann, wenn es noch fährt um Ve

[2017-08-13 00:05] RF-Buerky commented on #95
Ich fang mal an ein paar Tests zu schreiben. Der Plan ist nicht dass ich die Tests alle schreibe, ihr könnt ja alle im Chat viele Tests einstellen die man dann einfügt.

[2017-08-13 01:04] RF-Buerky opened #104 "Zuallerletzt: Überall Reformat Code ausführen"
Damit der Code beim letzten Release gut anzusehen ist sollte in allen Dateien `Reformat Code` ausgeführt werden.

Diese Issue ist zuallerletzt auszuführen, wenn sonst keine PullRequests mehr anstehen oder auf einen Merge warten.

[2017-08-13 01:15] RF-Buerky commented on #97
Wir haben einen Maulwurf 😄
Es wird nicht nur geguckt, es wird geforked
![grafik](https://user-images.githubusercontent.com/28202401/29245281-9839ece4-7fd5-11e7-94b8-9f97c04a4090.png)

[2017-08-13 01:15] RF-Buerky commented on #97
Wir haben einen Maulwurf 😄
Es wird nicht nur geguckt, es wird geforked
![grafik](https://user-images.githubusercontent.com/28202401/29245281-9839ece4-7fd5-11e7-94b8-9f97c04a4090.png)

[2017-08-13 04:17] jwustmann commented on #97
Dreist :D

_Sent from my Samsung SM-G900F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-13 04:22] jwustmann commented on #102
Wenn ich das richtig sehe, würde dein Entwurf so wie er da steht einen ewigen Stau für das Fahrzeug bedeuten sobald es einmal verspätet wurde, denn sobald ein delay größer 0 ist erhöht es sich im nächsten Zeitschritt automatisch, da die Bedingung erfüllt ist oder irre ich mich da ?

_Sent from my Samsung SM-G900F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-13 04:29] jwustmann commented on #104
Guter Gedanke. In diesem Kontext würde ich auch nochmal prüfen, ob alle Funktionen als solche benannt sind; z.b. randomDelay wäre vielleicht besser delayByChance ?

_Sent from my Samsung SM-G900F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-13 09:04] nipafx commented on #102
Den Namen `delay` habe ich vielleicht nicht geschickt gewählt ([naming is hard](https://martinfowler.com/bliki/TwoHardThings.html)). Wenn man schon eine Stunde zu spät zum Kaffeetrinken bei Oma ist und dann noch ne Stunde im Stau steht, ist man natürlich zwei Stunden zu spät.

Die Variable hält aber fest, wie viele Stunden man noch fahren muss, bis man seine gewünschte Strecke abgefahren hat. Wenn

[2017-08-13 11:12] RF-Buerky commented on #102
Okay dann stimmt ja alles. Kam gerade auch nicht auf einen besseren Namen als `delay`. Ewig lange Namen wie `hoursMoreToDriveCauseOfDelay` ist vielleicht nicht so idael. Oder wie ist da die allgemeine Regel? @nicolaiparlog

[2017-08-13 11:15] nipafx commented on #102
Was ist mit `lag`, ist das auch zu lang? 😜 Kürzere Namen sind schon besser, aber wie man Ausdrucksstärke gegen Länge abwiegt, ist nicht allgemein zu beantworten.

[2017-08-13 11:27] RF-Buerky commented on #102
`lag` ist gut. Ich ändere es und mache einen PullRequest

[2017-08-13 11:48] #102 closed, assigned to nobody

[2017-08-13 11:49] #97 closed, assigned to RF-Buerky

[2017-08-13 12:18] FelixWerle opened #106 "Version 4.0 veröffentlichen"
Es soll die finale Version des Projektes, die den letzten Meilenstein ,,Erweiterte Simulation mit verschiedenen Teilnehmern" enthält, veröffentlicht werden.

[2017-08-13 13:37] RF-Buerky commented on #104
ja kann man auch machen.

[2017-08-13 13:55] #95 closed, assigned to RF-Buerky

[2017-08-13 15:00] #104 closed, assigned to RF-Buerky

[2017-08-13 15:31] #92 closed, assigned to dbaumy

[2017-08-13 15:38] #106 closed, assigned to RF-Buerky

[2017-08-13 15:38] RF-Buerky commented on #106
Ist erledigt [hier](https://github.com/RF-Buerky/BBFW-Project/releases)

[2017-08-13 15:49] RF-Buerky commented on #97
Charge 1:
![grafik](https://user-images.githubusercontent.com/28202401/29251095-951047b4-804f-11e7-8403-fb553283e03b.png)

Charge 2:
![grafik](https://user-images.githubusercontent.com/28202401/29251093-78eb4976-804f-11e7-94a8-0721a1bc0102.png)

Charge 3:
![grafik](https://user-images.githubusercontent.com/28202401/29251101-b9dbe5a8-804f-11e7-83dc-32091808ef07.png)

###### Die Nachricht wurd nacht

[2017-08-13 15:57] RF-Buerky commented on #97
###### Die Nachricht wurde nachträglich um nicht nette Äußerungen gekürzt.

[2017-08-13 15:59] nipafx commented on #97
@RF-Buerky, ich weiß deine Neugier zu schätzen, aber ich bitte dich, hier keine anderen Teams anzuschwärzen - egal ob es berechtigt ist oder nicht. Ich werde mir alle Projekte anschauen und dabei wird mir sowas sicherlich auffallen und zu entsprechenden Konsequenzen führen.